*{
	padding: 0;
	margin: 0;
}

body{
	display: flex;
	flex-direction: column;
	font-family: 'Inter';
	min-width: 300px;
}

main{
	max-width: 1600px;
}

/* -------- HEADER -------- */

header{
	width: 100%;
	background-color: #F5F5F5;
	padding: 12px;
	max-width: 1600px;
	box-sizing: border-box;
}

h1{
	padding: 4px 0 8px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #000000;
}

/* -------- MENU -------- */

.menu{
	display: flex;
	justify-content: center;
}

.menu-lista{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-item{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 4px 0px;
}

.menu-link{
	display: flex;
	justify-content: center;
	width: 100%;
	color: #828282;
	text-decoration: none;
}

.menu-link:hover{
	color: #333333;
	font-weight: 600;
}

.selected{
	padding: 4px 0;
	font-weight: 600;
	color: white;
	background-color: #333333;
}

.selected:hover{
	color: white;
}

/* -------- SEARCH -------- */

.search{
	display: flex;
	padding: 8px;
	background-color: #F5F5F5;
}

.search-input{
	width: 100%;
	font-size: 14px;
	padding: 8px;
	border: none;
	border-top: 1px solid #828282;
	border-bottom: 1px solid #828282;
	border-left: 1px solid #828282;
}

.search-buttonMobile{
	border: none;
	padding: 0 12px;
	color: #6B54DE;
	background-color: white;
	border-top: 1px solid #828282;
	border-bottom: 1px solid #828282;
	border-right: 1px solid #828282;
}

.search-buttonNotMobile{
	display: none;
}

/* -------- VITRINE -------- */

.vitrine{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 8px;
}

/* -------- CARD -------- */

.vitrine-card{
	display: flex;
	flex-direction: column;
	min-width: 300px;
	width: 65%;
	margin: 19px 12px 12px;
	background-color: #F5F5F5;
	border: 2px solid #F5F5F5;
}

.vitrine-card:hover{
	border: 2px solid #2E245E;
}

 /* -------- CARD-HEADER -------- */

.card-header{
	display: flex;
	height: 155px;
	justify-content: center;
	padding: 8px 0;
}

.card-img{
	height: 100%;
}

/* -------- CARD-BODY -------- */

.card-body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: white;
	padding: 20px 10% 20px 15px
}

.card-categoryTag{
	font-size: 0.75rem;
	color: white;
	background-color: #2E245E;
	padding: 5px;
	margin: 5px 0;
}

.card-productName{
	color: #333333;
	font-size: 18px;
	font-weight: 700;
	margin: 5px 0;
}

.card-productDescription{
	text-align: start;
	font-size: 12px;
	color: #828282;
	margin: 5px 0;
}

.card-productPrice{
	font-weight: 600;
	color: #2E245E;
	margin: 5px 0;
	font-size: 12px;
}

.card-addToCart{
	font-family: 'Inter';
	color: #828282;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	margin: 5px 0;
}

.card-addToCart:hover{
	color: #6B54DE;
}

/* -------- CART -------- */

.cart{
	display: flex;
	flex-direction: column;
	position: fixed;
	overflow-x: hidden;
	background-color: #F5F5F5;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1;
}

/* -------- CART-HEADER -------- */

.cart-header{
	display: flex;
	justify-content: space-between;
	background-color: #6B54DE;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 13px;
}

.cart-headerText{
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: 700;
}

/* -------- CART-BTN-CLOSE -------- */

.cart-btnMobile-closeCart{
	color: white;
	background-color: transparent;
	border: none;
	padding: 0 16px;
	margin-right: 16px;
	font-size: 1.20rem;
}

/* -------- CART-BODY -------- */

.cart-body{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F5F5F5;
	margin-top: 56px;
}

/* -------- CART-BODY-NO-ITEMS -------- */

.cart-withoutItems{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 128px;
}

.cart-emptyText{
	margin: 8px 0 4px;
	font-weight: 700;
	font-size: 22px;
	color: #333333;
}

.cart-addItemsText{
	margin: 4px 0 8px;
	font-size: 14px;
	font-weight: 400;
}

/* -------- CART-BODY-WITH-ITEMS -------- */

.cart-withItems{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 128px;
}

/* -------- CART-ITEM -------- */

.cart-item{
	display: flex;
	justify-content: flex-start;
	margin: 16px 16px 8px;
}

/* -------- CART-IMG -------- */

.cart-imgContainer{
	width: 80px;
	height: 80px;
	padding: 8px 0 4px;
	box-sizing: border-box;
	background-color: #ffffff;
}

.cart-img{
	width: 100%;
}

/* -------- CART-ITEM-INFO -------- */

.cart-productInfo{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
}

.cart-productName{
	color: #333333;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 8px;
}

.cart-productPrice{
	color: #2E245E;
	font-weight: 600;
	font-size: 12px;
	margin-bottom: 8px;
}

.cart-removeFromCart{
	font-size: 12px;
	color: #828282;
	border: none;
	background-color: transparent;
}

.cart-removeFromCart:hover{
	color: red;
	text-decoration: underline;
}

/* -------- CART-PURCHASE-INFO -------- */

.cart-purchaseInfo{
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #333333;
	padding: 16px 0;
}

.cart-quantityText, .cart-totalText{
	font-weight: 500px;
	font-size: 16px;
	color: white;
}

.cart-quantity, .cart-total{
	display: flex;
	justify-content: space-between;
	padding: 8px 16px;
}

.cart-quantityValue, .cart-totalValue{
	font-weight: 400;
	font-size: 16px;
	color: #828282;
}

/* -------- CART-BUTTON -------- */

.cart-floatBtn{
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 12px;
	padding: 12px;
	font-size: 1.5rem;
	border: none;
	color: white;
	background-color: #333333;
	border-radius: 50%;
}

/* */



@media screen and (min-width: 655px) {

	/* -------- HEADER -------- */

	header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	h1{
		margin-left: 6.5%;
	}

	/* -------- MENU -------- */

	.menu{
		margin-right: 2%;
	}

	.menu-lista{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.menu-item{
		margin-right: 16px;
	}

	.selected{
		padding: 4px 0;
		font-weight: 600;
		color: #333333;
		background-color: transparent;
	}
	
	.selected:hover{
		color: #333333;;
	}

	/* -------- VITRINE -------- */

	.vitrine{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: flex-start;
		padding: 0;
	}

	.vitrine-card{
		width: 300px;
		margin: 19px 8px 0;
	}
}

@media screen and (min-width: 1024px) {
	body{
		background-color: white;
		align-items: center;
	}

	main{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		width: 100%;
	}

	.cart-and-search{
		display: flex;
		flex-direction: column;
		min-width: 350px;
		margin-top: 19px;
		margin-right: 2%;
	}

	.search{
		margin-bottom: 10px;
		background-color: transparent;
		padding: 0;
	}

	.search-input{
		font-family: 'Inter';
		background: #F5F5F5;
		border: 1px solid #F5F5F5;
		box-sizing: border-box;
		margin-right: 8px;
		font-size: 14px;
		padding: 17px 0 17px 14px;
	}

	.search-buttonMobile{
		display: none;
	}

	.search-buttonNotMobile{
		display: unset;
		padding: 17px 9px 17px 11px;
		background-color: #6B54DE;
		color: white;
		font-weight: 500;
		font-size: 16px;
		border: none;
	}

	/* -------- CART-BUTTON -------- */
	.cart{
		display: flex;
		flex-direction: column;
		background-color: #F5F5F5;
		position: static;
		height: fit-content;
		max-height: 500px;
		width: auto;
		top: 0;
		z-index: unset;
	}

	.cart::-webkit-scrollbar{
		display: none;
	}

	.cart-header{
		justify-content: center;
		position: sticky;
		box-sizing: border-box;
	}

	.cart-btnMobile-closeCart{
		display: none;
	}

	.cart-body{
		margin-top: 0;
	}

	.cart-withoutItems{
		justify-content: center;
		min-height: 350px;
		margin: 0;
	}

	.cart-withItems{
		margin-bottom: 0;
		min-height: 350px;
	}

	.cart-item{
		margin: 0 0 20px 20px;
	}

	.cart-item:first-child{
		margin-top: 20px;
	}

	.cart-productInfo{
		padding-left: 15px;
	}

	.cart-purchaseInfo{
		display: flex;
		position: sticky;
		bottom: 0;
	}

	/* -------- CART-BUTTON -------- */
	.cart-floatBtn{
		display: none;
	}	

	/* -------- VITRINE -------- */

	.vitrine{
		margin-left: 2%;
	}

	.vitrine-card{
		box-sizing: border-box;
		margin: 19px 0;
	}
}

.closed{
	display: none;
}

.closed-header{
	display: none;
}